.btn-one { 
	background-color: #A15E49;
	padding: 10px 38px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Prata', serif;
	transition: .3s;
 }

.btn-one:hover {
	background-color: #ae7666;